@import "tailwindcss";

/* Reset total para garantir que o app ocupe 100% da tela */
html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #0f172a; /* Slate 900 do seu mockup */
  overflow: hidden;
}

/* Scrollbar customizada para o estilo 'Law' */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #334155;
}